a.urgency {
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

td.urgency {
	width: 16px;
}

.chores .danger {
	background: #d9534f;
}

.chores .warning {
	background: #f0ad4e;
}

.chores .success {
	background: #5cb85c;
}

.btn {
	padding: 2px 4px;
}

.chores td {
	vertical-align: middle !important;
}

.chore {
	cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .desktop-only {
    	display: none !important;
    }
}
