@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,300,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Trocchi);

html {
	font-size: 14px !important;
}

span.title-1 {
	font-weight: 700;
}

span.title-2 {
	
}

#login {
	box-shadow: 1px 1px 10px #CCC;
}

.top-bar .name h1 a{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 34px;
}

.user-menu a{
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400 !important;
	font-size: 14px !important;
}

#side-nav {
	float: left;
	width: 150px;
	margin-left: 10px;
}

#side-nav ul.side-nav > li {
	margin: 0;
}

#side-nav ul.side-nav > li.heading:not(:first-child) {
	margin-top: 10px
}

#side-nav ul.side-nav > li.heading {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700 !important;
	font-size: 12px;

}

#side-nav ul.side-nav > li > a {
	padding: 0 0 0 5px;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400 !important;
	font-size: 12px;
}

#content {
	margin-left: 160px;
	padding: 0 20px;
	position: relative;
}

#content .dont-clear .dont-clear:after {
	clear: none;
}

#content .dont-clear:after {
	clear: none;
}

p {
	font-family: 'Open Sans', sans-serif;
}

/* MANAGE HOUSEHOLDS */
#manage-households {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

#manage-households li.household {
	padding: 5px 10px;
	margin: 20px;
	border: 1px solid #ccc;
	
}

#manage-households li.household p {
	font-size: 12px;
}

#manage-households .household-title {
	float: left;
	width: 50%;
	margin-top: 5px;
}

#manage-households button.tiny {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-right: 2.5rem;
}

#manage-households h4 {
	border-bottom: 1px solid #CCC;
	margin-top: 20px;
}

#manage-households .pending {
	color: #999;
	font-style: italic;
}

#manage-households li small {
	font-size: 11px;
}

#manage-households ul.user-list {
	list-style-type: none;
}

#manage-households li.household-user {
	clear: both;
	border-bottom: 1px solid #CCC;
	margin-bottom: 5px;
}

#manage-households ul.user-list .button {
	margin: 0 0 4px 0 !important;
}

.response-wrapper {
	height: 0px;
}

.ajax-success {
	color: #4cae4c;
}

.ajax-response {
	font-size: 12px;
	color: #4cae4c;
	position: relative;
	top: -13px;
	margin-left: 8px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.generator-toggle {
	margin-top: 14px;
}

.generator-status {
	margin-bottom: 10px;
	font-weight: bold;
}

.generator-status-off {
	color: red;
}

.generator-status-on {
	color: green;
}

.generator-sub > label{
	font-weight: bold;
	margin-left: 10px;
}

.generator-sub > label > input {
	position: relative;
	
}

/* MODALS */

#modal-invites h4 {
	font-family: "Open Sans", sans-serif !important;
}

#modal-invites p {
	font-family: "Open Sans", sans-serif !important;
}

/* INVITES */

#invites > h4{
	border-bottom: 1px solid #CCC;
	margin-top: 30px;
}

.invites {
	list-style-type: none;
	margin: 0 0 0 10px;
	padding: 0;
}

#invites h5 {
	margin: 0 0 0 10px;
}

.invites > li {
	margin: 10px;
	padding: 5px 15px;
	border: 1px solid #CCC;
	box-shadow: 1px 1px 5px #CCC;
}

.invites > li > h4 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.invites > li > span {
	color: #333;
	font-style: italic;
	font-size: 12px;
}

.invites a.button {
	margin-right: 5px;
	position: relative;
	top: 10px;
}

/* ROOM MANAGEMENT */

#rooms-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#rooms-list li {
	padding: 4px 8px;
	border-bottom: 1px solid #CCC !important;
	margin: 15px 0;
}

#rooms-list span.chore-count {
	float: right;
}

#rooms-list .button {
	margin: 0 0 0 4px;
	padding: 4px 8px;
	float: right;
}

/* CHORE MANAGEMENT */

p.info  {
	font-size: 12px !important;
	margin-top: 10px;
	line-height: 16px;
}

#chore-frequency-toggle {
	position: relative;
	top: 2px;
}

ul.view-chores-room-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.view-chores-room-list > li {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 14px;
	float: left;
	min-width: 200px;
}

ul.view-chores-chore-list {
	list-style-type: none;
	margin-bottom: 10px;

}

ul.view-chores-chore-list > li {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-size: 13px;

}

/* CHORE BY ROOM */

ul.chore-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.chore-list > li > h1 {
	padding-left: 10px;
	margin-bottom: 0px;
	font-size: 28px;
	font-family: 'Trocchi', serif;
}

.f-dropdown {
	font-weight: normal;
}

ul.chore-list > li .chore td {
	font-family: "Open Sans", sans-serif;
}

ul.chore-list th {
	text-align: center;
}

table.chore-table tr.chore {
	cursor: pointer;
}

table.chore-table tr.self-claimed > td {
	font-weight: bold;
}

table.chore-table tr.other-claimed > td {
	color: #666;
}

table.chore-table tr.finished > td{
	color: #CCC;
}

table.chore-table tr.chore td.chore-claimed-name {
	padding-left: 15px;
}

table.chore-table tr.chore:hover {
	background-color: #EEE;
}

table.chore-table tr.chore > td {
	padding: 0 5px;
	font-family: "Open Sans", sans-serif;
}

table.chore-table tr.chore > td > .tiny {
	margin: 0;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

table.chore-table tr.chore > td.chore-status {
	text-align: center;
}

table.chore-table tr.chore .chore-alert {
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0 auto;
	box-shadow: 1px 1px 1px #CCC;
}

table.chore-table tr.chore .warning {
	background-color: orange;
}

table.chore-table tr.chore .danger {
	background-color: #e9001b;
}

table.chore-table tr.chore > td.number {
	text-align: right;
}

table.chore-table tr.chore-claim {
	display: block;
}

/* ALERTS */
#alert {
	position: fixed;
	bottom: 10px;
	right: 10px;
	min-width: 250px;
	z-index: 999;
	box-shadow: 0px 2px 5px #333;
	border: 1px solid #CCC;
	padding: 5px 10px;
	display: none;
}

#alert h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

#alert p {
	margin-bottom: 0px;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}